@CHARSET "UTF-8";
/*.videoDetailsBlock { border: 1px dotted; padding: 10px 10px; }*/
.videoDetailsBlock h1 { font-size: 20px; font-weight: bold; margin-bottom: 10px; }
.videoDetailsBlock p { margin-bottom: 20px; font-size: 14px; color:#333333; }
.videoDetailsBlock .tags { list-style:none; clear:both; }
.videoDetailsBlock .tags li, .tags a { float:left; height:24px; line-height:24px; position:relative; font-size:12px; margin-bottom: 4px; }
.videoDetailsBlock .tags a { margin-right:18px; padding:0 10px 0 12px; background:#0089e0; color:#fff; text-decoration:none; -moz-border-radius-bottomright:4px; -webkit-border-bottom-right-radius:4px;	border-bottom-right-radius:4px; -moz-border-radius-topright:4px; -webkit-border-top-right-radius:4px; border-top-right-radius:4px; }
.videoDetailsBlock .tags a:before { content:""; float:left; position:absolute; top:0; left:-12px; width:0; height:0; border-color:transparent #0089e0 transparent transparent; border-style:solid; border-width:12px 12px 12px 0; } 
.videoDetailsBlock .tags a:after { content:""; position:absolute; top:10px; left:0; float:left; width:4px; height:4px; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; background:#fff; -moz-box-shadow:-1px -1px 2px #004977; -webkit-box-shadow:-1px -1px 2px #004977; box-shadow:-1px -1px 2px #004977; }
.videoDetailsBlock .tags a:hover { background:#555; }
.videoDetailsBlock .tags a:hover:before { border-color:transparent #555 transparent transparent; }