<div class='panel-center'>
	<span class="share-alert"></span>
	<div class="share-icons-scroller">
		<div class="icon-play back-btn noselection"></div>
		<div class="icon-play next-btn noselection"></div>
		<div class="share-icons-container">
			<% $.each(networks, function(idx, network){ %>
				<div class="icon-border PIE">
					<a href="<%=encodeURIComponent(network.template)%>" data-click="openPopup">
						<% if( network.icon != "" ) { %>
							<img class="share-network custom-share-network" title="<%=network.name%>" src="<%=network.icon%>">
						<% }else{ %>
							<span class="<%=network.cssClass%> share-network" title="<%=network.name%>" id="<%=idx%>"></span>
						<% } %>
					</a>
				</div>
			<% }); %>
		</div>
	</div>

	<% if( socialShareEnabled) { %>
		<div class="share-input-container share-container">
			<input class="shareembed-input share-input" value="<%= share.getConfig('shareURL') %>" readonly/>
			<!--div class="share-copy-btn" data-target=".share-input"><%=share.locale.copyLbl%></div>
			<div class="icon-share-Yes share-v-icon"></div-->
		</div>
	<% } %>

	<% if( embedEnabled) { %>
		<div class="share-input-container embed-container">
			<input class="shareembed-input embed-input" readonly/>
			<!--div class="share-copy-btn" data-target=".embed-input"><%=share.locale.copyLbl%></div>
			<div class="icon-share-Yes share-v-icon"></div-->
		</div>
	<% } %>





	<% if( socialShareEnabled) { %>
		<% if( allowTimeOffset) { %>
			<div class="share-input-container share-offset-container">
				<span class="share-label noselection"><%=share.locale.startTimeLbl%></span>
				<input value="00:00:00" placeholder="00:00:00" class="shareembed-input share-offset"/>
			</div>
		<% } %>
	<% } %>

	<% if( embedEnabled) { %>
		<% if( allowTimeOffset) { %>
			<div class="share-input-container embed-offset-container">
				<span class="share-label noselection"><%=share.locale.startTimeLbl%></span>
				<input value="00:00:00" placeholder="00:00:00" class="shareembed-input share-offset" />
			</div>
		<% } %>
	<% } %>

</div>
