a:hover {
	color: #F46D7B;
}
a {
	font-weight: 600;
	color: #000;
	cursor: pointer;
	text-decoration: none;
}

.login-header {
	font-weight: 900;
	top: 0px;
	position: absolute;
	font-size: 18px;
	background: #CCC;
	left: 0px;
	right: 0px;
	height: 30px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
	
	background: rgb(160,216,239);
	background: -moz-linear-gradient(top, rgba(160,216,239,1) 0%, rgba(221,241,249,1) 75%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,216,239,1)), color-stop(75%,rgba(221,241,249,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(160,216,239,1) 0%,rgba(221,241,249,1) 75%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(160,216,239,1) 0%,rgba(221,241,249,1) 75%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(160,216,239,1) 0%,rgba(221,241,249,1) 75%,rgba(255,255,255,1) 100%);
}
.login-header span{
	position: relative;
	top: 4px;
	left: 8px;
}
.login-header img{
	position: relative;
	top: -6px;
	float:left;
}
.login-foot{
	background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(160,216,239,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(35%,rgba(221,241,249,1)), color-stop(100%,rgba(160,216,239,1)));
	background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
	background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
	
	position:absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	
	padding-left: 10px;
	padding-bottom: 10px;
	
	border-top: solid thin #ccc;
}
.login-foot a{
	margin-right:10px;
	margin-top:12px;
	float: left;'
}
.login-foot .login{
	float:right;
	margin-right: 10px;
	margin-top : 5px;
}
.divider{
	display:inline;
	float:left;
	width:1px;
	height:10px;
	background-color: #999;
	margin-left:10px;
	margin-right:10px;
	margin-top:15px;
}
.login-form {
	margin-top: 50px;
	margin-bottom:5px;
}
input{
	background-color: #ffffff;
	border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
		  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	 -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	   -o-transition: border linear 0.2s, box-shadow linear 0.2s;
		  transition: border linear 0.2s, box-shadow linear 0.2s;
}
input:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	/*outline: thin dotted 9;*/
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
	 -moz-box-shadow: none;
		  box-shadow: none;
}
.btn.disabled:hover{
	color:#333;
}
	
h2 {
	font-size: 24px;
	line-height: 36px;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: inherit;
	font-weight: bold;
	color: inherit;
	text-rendering: optimizelegibility;
}
.btn {
	border-color: #C5C5C5;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.btn {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: whiteSmoke;
	background-image: -moz-linear-gradient(top, white, #E6E6E6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, white, #E6E6E6);
	background-image: -o-linear-gradient(top, white, #E6E6E6);
	background-image: linear-gradient(to bottom, white, #E6E6E6);
	background-repeat: repeat-x;
	border: 1px solid #BBB;
	border-color: #E6E6E6 #E6E6E6 #BFBFBF;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #A2A2A2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	color: #C09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.alert-error {
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
}