@font-face {
	font-family: 'streamuk_dingbats';
	src:url('../fonts/streamuk_dingbats.eot');
	src:url('../fonts/streamuk_dingbats.eot?#iefix') format('embedded-opentype'),
	url('../fonts/streamuk_dingbats.woff') format('woff'),
	url('../fonts/streamuk_dingbats.ttf') format('truetype'),
	url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'streamuk_dingbats';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-fullscreen-exit-alt,.icon-fullscreen-alt, .icon-contract, .icon-related, .icon-cc, .icon-cog, .icon-expand, .icon-info, .icon-volume-mute, .icon-volume-low, .icon-volume-high, .icon-share, .icon-replay, .icon-like, .icon-checkmark, .icon-unlike, .icon-play, .icon-pause, .icon-expand2, .icon-flag, .icon-camera, .icon-download, .icon-close, .icon-ad, .icon-list {
	font-family: 'streamuk_dingbats';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-volume-mute:before {
	content: "\65";
}
.icon-volume-low:before {
	content: "\62";
}
.icon-volume-high:before {
	content: "\63";
}
.icon-unlike:before {
	content: "\100";
}
.icon-share:before {
	content: "\6e";
}
.icon-close:before {
	content: "\68";
}
.icon-checkmark:before {
	content: "\56";
}
.icon-cc:before {
	content: "\61";
}
.icon-camera:before {
	content: "\51";
}
.icon-replay:before {
	content: "\103";
}
.icon-related:before {
	content: "\104";
}
.icon-play:before {
	content: "\cc";
}
.icon-pause:before {
	content: "\d8";
}
.icon-like:before {
	content: "\101";
}
.icon-info:before {
	content: "\a4";
}
.icon-fullscreen-exit-alt:before {
	content: "\129";
}
.icon-fullscreen-alt:before {
	content: "\66";
}
.icon-flag:before {
	content: "\33";
}
.icon-expand2:before {
	content: "\102";
}
.icon-expand:before {
	content: "\64";
}
.icon-download:before {
	content: "\6d";
}
.icon-contract:before {
	content: "\32";
}
.icon-cog:before {
	content: "\fa";
}
.icon-ad:before {
	content: "\105";
}
.icon-list:before {
    content: "\af";
}
