body { letter-spacing: 0.04em; }

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.topBarContainer {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
	box-sizing:border-box;

	-webkit-transition: top 0.3s ease-in;
	-moz-transition: top 0.3s ease-in;
	-o-transition: top 0.3s ease-in;
	-ms-transition: top 0.3s ease-in;
	transition: top 0.3s ease-in;

	background-color: #222222;
	background: rgba(0,0,0,0.7);
	/*
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0.6)), to(rgba(0, 0, 0, 0)));
/*
	background: -webkit-linear-gradient(top, rgba(34,34,34,0.8), rgba(0, 0, 0, 0.8));
	background: -moz-linear-gradient(top, rgba(34,34,34,0.8), rgba(0, 0, 0, 0.8));
	background: -o-linear-gradient(top, rgba(34,34,34,0.8), rgba(0, 0, 0, 0.8));
	background: -ms-linear-gradient(top, rgba(34,34,34,0.8), rgba(0, 0, 0, 0.8));*/
	/*background: linear-gradient(top, rgba(0,0,0,0.6), rgba(0, 0, 0, 0));*/
	/*
	border-bottom: 1px solid rgba(170, 168, 168, 0.5);

	-webkit-box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8);
	box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8);
	*/
	height: 2.3em;
	padding-right: 5px;
}
.topBarContainer.hover {
	top: -2.6em;
}
.topBarContainer.open {
	top: 0;
}
.topBarContainer .btn {
	color: #fff;
	width: 2em;
	text-shadow: none;
}

.icon-list-container {
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    font-size: 24px;
}

.sideBarContainerReminder{
    width: 40px;
    height: 40px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
}

.sideBarContainerReminder:hover div{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    color: #fff;
    text-shadow: 0px 0px 10px #fff;
}

.sideBarContainerReminder.active div{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    color: #fff;
    text-shadow: 0px 0px 10px #fff;
}

.sideBarContainerReminder.left{
    left: -40%;
    -webkit-transition: left 0.3s ease-in;
    -moz-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    -ms-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
}
.sideBarContainerReminder.left.open{
    left: 0px;
}
.sideBarContainerReminder.left.shifted{
    left: 40%;
}
.sideBarContainerReminder.right{
    right: -40%;
    -webkit-transition: right 0.3s ease-in;
    -moz-transition: right 0.3s ease-in;
    -o-transition: right 0.3s ease-in;
    -ms-transition: right 0.3s ease-in;
    transition: right 0.3s ease-in;
}
.sideBarContainerReminder.right.open{
    right: 0px;
}
.sideBarContainerReminder.right.shifted{
    right: 40%;
}

.TocBtnBorder {
    background: #000;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    border: 2px solid;

    box-shadow: 2px 2px 2px #474747;
}

.TocBtnBorder.left{
    left: 0;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.TocBtnBorder.right{
    right: 0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sideBarContainer {
    position: absolute;
    top: 0;
    width: 40%;
    z-index: 100;
    box-sizing:border-box;
    -webkit-transition: left 0.3s ease-in, right 0.3s ease-in;
    -moz-transition: left 0.3s ease-in, right 0.3s ease-in;
    -o-transition: left 0.3s ease-in, right 0.3s ease-in;
    -ms-transition: left 0.3s ease-in, right 0.3s ease-in;
    transition: left 0.3s ease-in, right 0.3s ease-in;
    height: 100%;
    padding: 1%;

    background: #000;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;

    /*height: 100%;
    width: 100%;*/
    border: 2px solid;

    box-shadow: 2px 2px 2px #474747;
}

.sideBarContainer.left{
    left: -40%;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sideBarContainer.openBtn {
    z-index: 99;
}
.sideBarContainer.left.openBtn{
    left: 0;
}
.sideBarContainer.right{
    right: -40%;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sideBarContainer.right.openBtn{
    right: 0;
}

.titleLabel { padding: 8px 0 0 10px; }

.controlBarContainer {
	position: absolute;
	bottom: 0;
	width: 100%;

	-webkit-transition: bottom 0.3s ease-in;
	-moz-transition: bottom 0.3s ease-in;
	-o-transition: bottom 0.3s ease-in;
	-ms-transition: bottom 0.3s ease-in;
	transition: bottom 0.3s ease-in;
}


.controlBarContainer a {
	text-decoration: none;
}

.controlBarContainer.hover {
	bottom: -2.6em;
	z-index: 100;
}

.controlBarContainer.open {
	bottom: 0;
}


.btn {
	display: inline-block;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 2.4em;
	cursor: pointer;
	border: 0;
	font-size: 1.1em;
}
.btnFixed {
	display: inline-block;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 2.4em;
	cursor: pointer;
	border: 0;
	font-size: 1.1em;
}
.btn .accessibilityLabel{
	font-size: 0;
	height: 1px;
	overflow: hidden;
	display: block;
}

.dropup {
	position: relative;
	height: 100%;
}

.langButton{
    line-height: 1.9;
    color: #CCC;
    border-width: 0px 1px;
    border-style: solid;
    border-color: transparent #666;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    background-color: transparent !important;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.largePlayBtn {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 3em;
	margin: -0.79em 0 0 -1em;
	text-decoration: none;
	border-radius: 0.1em;
	padding: 12px 20px 12px 25px;
}

.scrubber {
	position: relative;
	height: 0.6em;
	cursor: pointer;
}
.controlsContainer .scrubber{
	display: inline-block;
	margin-left:5px;
	top: -3px;
}
.sliderPreviewTime {
	position: absolute;
	font-family: Helvetica,Arial;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 0 0.3em #000;
}

.sliderPreview {
	position: absolute;
	width: 100px;
	height: 60px;
	z-index: 9999999999;
	border: 2px white solid;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 4px;
}

.scrubber .handle-wrapper {
	position: relative;
	margin: 0 0.44em;
}

.scrubber .watched {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	z-index: 2;
}

.scrubber .buffered {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.scrubber .arrow {
	position: absolute;
	left: 48px;
	bottom: -6px;
	width: 0;
	height: 0;
	border-top: 5px solid white;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.scrubber .playHead {
	z-index: 100;
	position: absolute;
	left: 0;
	top: -0.2em;
	width: 1.1em; 
	height: 1.1em;
	border-radius: 50%;
	outline: 0;
	margin-left: -0.5em !important;
	/*border: 8px solid #dadada;*/
	cursor: pointer;

	/*transform*/
	-webkit-transform:scale(1, 1);
	   -moz-transform:scale(1, 1);
	    -ms-transform:scale(1, 1);
	     -o-transform:scale(1, 1);
	        transform:scale(1, 1);
	/*transform-origin*/
	-webkit-transform-origin:50% 50%;
	   -moz-transform-origin:50% 50%;
	    -ms-transform-origin:50% 50%;
	     -o-transform-origin:50% 50%;
	        transform-origin:50% 50%;
	/*transition*/
	-webkit-transition:-webkit-transform-origin 0.1s ease-out, -webkit-transform 0.1s ease-out;
	   -moz-transition:   -moz-transform-origin 0.1s ease-out, -moz-transform 0.1s ease-out;
	     -o-transition:     -o-transform-origin 0.1s ease-out, -o-transform 0.1s ease-out;
	        transition:        transform-origin 0.1s ease-out, transform 0.1s ease-out;
	/*transition-property*/
	-webkit-transition-property:-webkit-transform-origin, -webkit-transform;
	   -moz-transition-property:   -moz-transform-origin, -moz-transform;
	     -o-transition-property:     -o-transform-origin, -o-transform;
	        transition-property:        transform-origin, transform;
	/*transition-duration*/
	-webkit-transition-duration:0.3s, 0.3s;
	   -moz-transition-duration:0.3s, 0.3s;
	     -o-transition-duration:0.3s, 0.3s;
	        transition-duration:0.3s, 0.3s;
	/*transition-timing-function*/
	-webkit-transition-timing-function:ease-out, ease-out;
	   -moz-transition-timing-function:ease-out, ease-out;
	     -o-transition-timing-function:ease-out, ease-out;
	        transition-timing-function:ease-out, ease-out;
	/*transition-delay*/
	-webkit-transition-delay:initial, initial;
	   -moz-transition-delay:initial, initial;
	     -o-transition-delay:initial, initial;
	        transition-delay:initial, initial;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(204,204,204,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(204,204,204,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 50%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 50%,rgba(255,255,255,1) 100%); /* W3C */

}

.player-out .hover .playHead {
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	transform: scale(0, 0);
}
.accessibilityButtons {
	display: inline-block;
	height: 1px;
}
.accessibilityButton {
	width: 1px;
	height: 1px;
}
.volumeControl {
	display: inline-block;
	height: 100%;
}

.volumeControl .slider {
	display: inline-block;
	width: 0;
	background: #7c7c7c;
	height: 0.5em;
	top: -2px;

	-webkit-transition: width 0.3s ease-in-out;
	-moz-transition: width 0.3s ease-in-out;
	-o-transition: width 0.3s ease-in-out;
	-ms-transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
	cursor: pointer;
}

.volumeControl.open .slider {
	width: 5em;
	margin-right: 10px;
}

.volumeControl .ui-slider-handle {
	display: none;
}

.volumeControl .ui-slider-range-min {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	opacity: 0.85;
	background-color: #fff;
	background-repeat: repeat-x;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#dddddd));

	background: -webkit-linear-gradient(top, #ffffff, #dddddd);
	background: -moz-linear-gradient(top, #ffffff, #dddddd);
	background: -o-linear-gradient(top, #ffffff, #dddddd);
	background: -ms-linear-gradient(top, #ffffff, #dddddd);
	background: linear-gradient(top, #ffffff, #dddddd);

	-webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.volumeControl .ui-slider-range-min:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-box-shadow: 0px 0px 10px #fff;
	box-shadow: 0px 0px 10px #fff;
}
.volumeControl .aria{
	width: 0px;
	height: 0px;
}
.timers {
	position: relative;
	font-size: 0.84em;
	display: inline;
	line-height: 2.7em;
	font-family: Helvetica,Arial;
	top: -2px;
}

.currentTimeLabel {
	padding-left: 0.8em;
}

.durationLabel {
	padding-left: 0.5em;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.overlay-win{
	z-index: 1000 !important;
}
.alert-container {
	z-index: 101;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	vertical-align: middle;
	box-sizing: border-box;
}

.alert {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.alert-title {
	font-size: 1.8em;
	padding-left: 1.8em;
	padding-bottom: 0.6em;
	text-align: center;
}

.alert-body {
	padding: 1.5em 2.2em;
	font-size: 1.5em;
}

.alert-footer {
	text-align: right;
	padding-top: 1.2em;
	padding-right: 2em;
}

.alert-footer .btn {
	min-width: 100px;
	border: 1px solid;
	border-radius: 4px;
	padding: 6px;
}

/* Bootstrap */
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 75px;
	padding: 0 0;
	margin: 2px 0 0;
	list-style: none;

	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

.dropdown-menu .divider {
	*width: 100%;
	height: 1px;
	margin: 0;
	*margin: -5px 0 5px;
	overflow: hidden;
	background-color: rgba(34, 34, 34, 0.5);
	border-bottom: 1px solid rgba(70, 70, 70, 0.5);
}

.dropdown-menu > li > a {
	display: block;
	padding: 3px 10px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	font-size: 0.9em;
	color: #999999;
	white-space: nowrap; /*background-color:  rgba(153, 153, 153, 0.8);
	*/
}

.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus,.dropdown-submenu:hover > a,.dropdown-submenu:focus > a {
	text-decoration: none;
	color: #ffffff;
	background-color: #000;
}

.dropdown-menu > .active > a,.dropdown-menu > .active > a:hover,.dropdown-menu > .active > a:focus {
	color: #ffffff;
	text-decoration: none;
	outline: 0;
}

.dropdown-menu > .disabled > a,.dropdown-menu > .disabled > a:hover,.dropdown-menu > .disabled > a:focus {
	color: #999999;
}

.dropdown-menu > .disabled > a:hover,.dropdown-menu > .disabled > a:focus {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	cursor: default;
}

.open {
	z-index: 1000;
}

.open.dropdown-menu {
	display: block;
}

.pull-right > .dropdown-menu {
	right: -30px;
	left: auto;
}

.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu {
	top: auto;
	bottom: 102%;
    overflow: auto;
    overflow-x: hidden;
    max-height: 300px;
}

.dropup .dropdown-submenu > .dropdown-menu {
	top: auto;
	bottom: 0;
	margin-top: 0;
	margin-bottom: -2px;
	border-radius: 5px 5px 5px 0;
}

/* Colors */
.PlayerContainer {
	background: #000;
	color: #fff;
}

.controlsContainer {
	height: 2.1em;
	/* margin-top: 1px; */
	/*background-color: #222222;*/
	/*background: rgba(34,34,34,0.8);*/
	/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(34,34,34,0.8)), to(rgba(0, 0, 0, 0.8)));*/

	/*background: -webkit-linear-gradient(top, rgba(34,34,34,0.8), rgba(0, 0, 0, 0.8));*/
	/*background: -moz-linear-gradient(top, rgba(34,34,34,0.8), rgba(0, 0, 0, 0.8));*/
	/*background: -o-linear-gradient(top, rgba(34,34,34,0.8), rgba(0, 0, 0, 0.8));*/
	/*background: -ms-linear-gradient(top, rgba(34,34,34,0.8), rgba(0, 0, 0, 0.8));*/
	/*background: linear-gradient(top, rgba(34,34,34,0.8), rgba(0, 0, 0, 0.8));*/
	border-top: 1px solid rgba(170, 168, 168, 0.5);

	/*-webkit-box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8);*/
	box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8);
	width:100%;
	display: inline-block;
}

.scrubber {
	background-color: #686868;
	background: rgba(104,104,104,0.6);
}

.ui-tooltip {
	background-color: #ffffff;
	background-repeat: repeat-x;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#dddddd));

	background: -webkit-linear-gradient(top, #ffffff, #dddddd);
	background: -moz-linear-gradient(top, #ffffff, #dddddd);
	background: -o-linear-gradient(top, #ffffff, #dddddd);
	background: -ms-linear-gradient(top, #ffffff, #dddddd);
	background: linear-gradient(top, #ffffff, #dddddd);

	-webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	z-index: 50;
	font-size: 0.85em;
    letter-spacing: 0px;
	color: #555;
	border-radius: 2px;
	padding: 2px 5px;
}

.ui-tooltip .arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}

.ui-tooltip .arrow .top {
	top: -16px;
	bottom: auto;
}

.ui-tooltip .arrow .left {
	left: 20%;
}

.ui-tooltip .arrow:after {
	content: "";
	position: absolute;
	left: 25px;
	top: -20px;
	width: 20px;
	height: 22px;

	-webkit-box-shadow: 6px 5px 9px -9px #fff;
	box-shadow: 6px 5px 9px -9px #fff;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	tranform: rotate(45deg);
	background-color: #ddd;
}

.ui-tooltip .arrow .top:after {
	bottom: -20px;
	top: auto;
}

.btn {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	background-color: transparent;
	color: #ccc;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.btn:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	color: #fff;
	text-shadow: 0px 0px 10px #fff;
}

.btn.active {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	color: #fff;
	text-shadow: 0px 0px 10px #fff;
}

.btn.disabled,.btn.disabled:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	cursor: default;
	text-shadow: none;
	color: #fff;
}

/*.btn:focus {*/
	/*outline: 1px dotted #999;*/
/*}*/

*:focus {
    outline: 0 !important;
}

.largePlayBtn {
	background-color: #222222;
	background: rgba(0,0,0,0.7);
	color: #efefef;
}
.touch .largePlayBtn {
	pointer-events: none;
}

.largePlayBtn:hover {
	background: rgba(0,0,0,1);
	color: #fff;
}

.scrubber.disabled {
	height: 0.3em;
}

.scrubber.disabled .watched {
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));

	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);

	-webkit-background-size: 10px 10px;
	-moz-background-size: 10px 10px;
	background-size: 10px 10px;
}

.scrubber.disabled .buffered,.scrubber.disabled .playHead {
	display: none;
}

.watched {
	background-color: #2ec7e1;
}

.buffered {
	background-color: #AFAFAF;
	background: rgba( 102, 102, 102, 0.5 );
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	opacity: 0.4;
	/*background-image:  -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
	
background-image:  -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	
background-image:  -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	
background-image:  -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	
background-image:  -ms-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	
background-image:  linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	

	 */
/*

-webkit-box-shadow:  0px 1px 0px rgba(0, 0, 0, 0.3);
	
box-shadow:  0px 1px 0px rgba(0, 0, 0, 0.3);
	

	
	
	border:  1px solid #fff;
	*/
}

.scrubber .playHead:hover {
	border-color: #fff;

	-webkit-box-shadow: 0 1px 30px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 30px rgba(255, 255, 255, 1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.currentTimeLabel {
	color: #e8e8e8;
}

.durationLabel {
	color: #b1aeab;
}

.sourceSelector {
	display: inline-block;
}

.overlay {
	background: rgba(0,0,0,0.7);
}

.alert-footer .btn {
	background: #fbfbfb;
	color: #000;
	border-color: #999;
}

.dropdown-menu {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	opacity: 0.85;
	background: #222222;
}

.logo {
	width: 3em;
	height: 100%;
	position: relative;
}

.logo img {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
    border: 0px;
}

.kaltura-logo {
	display: inline-block;
	height: 7px;
	margin: 0;
	padding: 10px;
	bottom: -1px;
	width: 2em;
	cursor: pointer;
	border: 2;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-image: url(../images/streamUK.png);
}
.playPauseBtn {
	width: 3.3em;
}
/*.playPauseBtn,.fullScreenBtn {
	border-right: 1px solid rgba(0,0,0,0.7);
	-webkit-box-shadow: 1px 0px 0px rgba(170, 168, 168, 0.3);
	box-shadow: 1px 0px 0px rgba(170, 168, 168, 0.3);
}*/

.ad-component {
	position: absolute;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
	font-size: 90%;
}

.ad-notice-label {
	bottom: 14px;
	left: 5px;
}

.ad-skip-btn {
	cursor: pointer;
	font-size: 110%;
}

.ad-skip-label,.ad-skip-btn {
	right: 5px;
	bottom: 5px;
	padding: 10px 20px;
	background: rgba(0,0,0,0.6);
}

.hover  .ad-skip-label,.ad-skip-btn {
    bottom: 20px;
}

.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.watermark {
	position: absolute;
	padding: 5px;
}
.watermark img{
    border: 0px;
}
.watermark.topRight {
	top: 0; right: 0;
}
.watermark.topLeft {
	top: 0; left: 0;
}
.watermark.bottomRight {
	bottom: 0; right: 0;
}
.watermark.bottomLeft {
	bottom: 0; left: 0;
}
.hide { display: none; }
.screen {
	display: none;
	position: absolute; 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0;
	/* z-index: 3;*/
	box-sizing: border-box;
	padding-top: 2.3em;
	background-color:#000;
	
	background-image: linear-gradient(top, #000000 10%, #3E3E3E 90%);
	background-image: -o-linear-gradient(top, #000000 10%, #3E3E3E 90%);
	background-image: -moz-linear-gradient(top, #000000 10%, #3E3E3E 90%);
	background-image: -webkit-linear-gradient(top, #000000 10%, #3E3E3E 90%);
	background-image: -ms-linear-gradient(top, #000000 10%, #3E3E3E 90%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #000000), color-stop(0.9, #3E3E3E));
}
.screen-content {
	box-sizing: border-box;
	padding: 0 10px;
}
.screen .panel-left {
	margin-right: 10px;
	position: absolute;
	width: 40%;
	height: 100%;
}
.videoPreview {
	position: relative;
	width: 230px;
	height: 129px;
}
.animateVideo {
	transition: top 1s, left 1s, width 1s, height 1s;
}
.previewPlayer .videoDisplay {
	top: 40px;
	left: 6px;
	z-index: 4;
	width: 40%;
	height: 40%;
	transition: top 1s, left 1s, width 1s, height 1s;
}
.expandPlayerBtn {
	position: absolute;
	z-index: 10;
	font-size: 2em;
	top: 0.3em;
	left: 0.3em;
	opacity: 0.7;
	cursor: pointer;
}
.expandPlayerBtn, .previewPlayer + .size-tiny .expandPlayerBtn {
	display: none;
}
.previewPlayer .expandPlayerBtn {
	display: inline-block;
}

.infoScreen .screen-content, .share .screen-content, .airPlay .screen-content {
	padding: 10px;
	position: relative;
	height: 100%;
}
.infoScreen .created { 
	font-size: 1.11em; 
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #666666;
}
.infoScreen .description { color: #999; }
.infoScreen .views {
	font-size: 1.2em;
	font-weight: bold;
	color: #ddd;
	margin: 10px 0;
	position: absolute;
	top: 45%;
}
.screen .panel-right {
	width: 58%; position: absolute; right: 0;
}
.size-tiny .screen .panel-right, .size-tiny .screen .panel-left, .size-tiny .infoScreen .views {
	position: static;
	width: 100%;
	height: auto;
}
.rotate{
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
	outline: 0 !important;
}
.cssChecker{
	display: none !important;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
