body {
	letter-spacing: 0.04em;
	/*Disable the default behavior of an Anchor in jQuery Mobile (iOS)*/
	-webkit-touch-callout: none ; /* disable the iOS popup when long-press on a link */
	-webkit-user-select: none ; /* disable selection/copy of UIWebView */
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* diable blue screen on selection */
}
.topBarContainer {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
	box-sizing:border-box;

	-webkit-transition: top 0.3s ease-in;
	-moz-transition: top 0.3s ease-in;
	-o-transition: top 0.3s ease-in;
	-ms-transition: top 0.3s ease-in;
	transition: top 0.3s ease-in;

	background-color: #222222;
	background: rgba(0,0,0,0.7);
	/*
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0.6)), to(rgba(0, 0, 0, 0)));
/*
	background: -webkit-linear-gradient(top, rgba(34,34,34,0.8), rgba(0, 0, 0, 0.8));
	background: -moz-linear-gradient(top, rgba(34,34,34,0.8), rgba(0, 0, 0, 0.8));
	background: -o-linear-gradient(top, rgba(34,34,34,0.8), rgba(0, 0, 0, 0.8));
	background: -ms-linear-gradient(top, rgba(34,34,34,0.8), rgba(0, 0, 0, 0.8));*/
	/*background: linear-gradient(top, rgba(0,0,0,0.6), rgba(0, 0, 0, 0));*/
	/*
	border-bottom: 1px solid rgba(170, 168, 168, 0.5);

	-webkit-box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8);
	box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8);
	*/
	height: 2.3em;
	padding-right: 5px;
}
.topBarContainer.hover {
	top: -3.6em;
}
.topBarContainer.open {
	top: 0;
}
.topBarContainer .btn {
	color: #fff;
	width: 2em;
	text-shadow: none;
}
.topBarContainer.block {
	position: static;
}
.mobileSkin .topBarContainer{
    height: 3.6em;
    top: -3.6em;
    background: transparent;
    padding-right: 1em;
}
.mobileSkin .topBarContainer.open {
    top: 0;
    height: 3.6em;
}
.sideBarContainerReminder{
	padding: 10px;
	position: absolute;
	cursor: pointer;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}
#sideBarContainerReminderContainer{
	font-size: 32px;
	color: rgb(255, 255, 255);
}
@media all and  (max-width: 640px) {
	#sideBarContainerReminderContainer{
		font-size: 24px;
	}
}
.sideBarContainerReminder:hover div{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	color: #fff;
	text-shadow: 0px 0px 10px #fff;
}
.sideBarContainerReminder.active div{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	color: #fff;
	text-shadow: 0px 0px 10px #fff;
}
.sideBarContainerReminder.left{
	left: -30%;
	-webkit-transition: left 0.3s ease-in;
	-moz-transition: left 0.3s ease-in;
	-o-transition: left 0.3s ease-in;
	-ms-transition: left 0.3s ease-in;
	transition: left 0.3s ease-in;
}
.sideBarContainerReminder.left.open{
	left: 0px;
}
.sideBarContainerReminder.left.shifted{
	left: 30%;
}
.sideBarContainerReminder.right{
	right: -30%;
	-webkit-transition: right 0.3s ease-in;
	-moz-transition: right 0.3s ease-in;
	-o-transition: right 0.3s ease-in;
	-ms-transition: right 0.3s ease-in;
	transition: right 0.3s ease-in;
}
.sideBarContainerReminder.right.open{
	right: 0px;
}
.sideBarContainerReminder.right.shifted{
	right: 30%;
}

.sideBarContainer {
	position: absolute;
	top: 0;
	width: 30%;
	z-index: 100;
	box-sizing:border-box;
	height: 100%;
	/*padding: 1%;*/

	-webkit-transition: left 0.3s ease-in, right 0.3s ease-in;
	-moz-transition: left 0.3s ease-in, right 0.3s ease-in;
	-o-transition: left 0.3s ease-in, right 0.3s ease-in;
	-ms-transition: left 0.3s ease-in, right 0.3s ease-in;
	transition: left 0.3s ease-in, right 0.3s ease-in;

	background: rgb(0,0,0);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	background: rgba(0,0,0,0.7);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.7)), color-stop(100%, rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0,0,0, 0.7) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0,0,0, 0.7) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0,0,0, 0.7) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0,0,0, 0.7) 100%);
}

.sideBarContainer.left{
	left: -30%;
}
.sideBarContainer.openBtn {
	z-index: 99;
}
.sideBarContainer.left.openBtn{
	left: 0;
}
.sideBarContainer.right{
	right: -30%;
}
.sideBarContainer.right.openBtn{
	right: 0;
}

.titleLabel {
	padding: 8px 0 0 10px;
	color: white;
}
.mobileSkin .titleLabel{
    padding-bottom: 0.8em;
    margin-left: 0.8em;
    text-shadow: 0px 0px 2.4px rgba(0, 0, 0, 0.12);
    font-size: 1.125em;
    font-family: 'Lato', Helvetica, Arial;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.333;
}
.controlBarContainer {
	position: absolute;
	bottom: 0;
	width: 100%;

	-webkit-transition: bottom 0.3s ease-in;
	-moz-transition: bottom 0.3s ease-in;
	-o-transition: bottom 0.3s ease-in;
	-ms-transition: bottom 0.3s ease-in;
	transition: bottom 0.3s ease-in;
}


.controlBarContainer a {
	text-decoration: none;
}

.controlBarContainer.hover {
	bottom: -3.6em;
	z-index: 100;
}

.controlBarContainer.open {
	bottom: 0;
}


.btn {
	display: inline-block;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 2.4em;
	cursor: pointer;
	border: 0;
	font-size: 1.1em;
}
.mobileSkin .btn {
    font-size: 1.6em;
    width: 2.6em;
    margin-top: -0.4em;
    color: white;
    outline: 0;
    text-shadow: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.mobileSkin .btn:focus {

}
.mobileSkin .topBarContainer .btn {
    margin-top: 0em;
}
.mobileMenuSelect{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 2em;
    -webkit-appearance: menulist-button;
}
.btnFixed {
	display: inline-block;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 2.4em;
	cursor: pointer;
	border: 0;
	font-size: 1.1em;
}
.mobileSkin .btnFixed{
    width: 100%;
}
.mobileSkin .pluginsScreenOpened .playbackRateSelector .btn{
    font-family: 'Lato', Helvetica, Arial;;
}
.mobileSkin .videoHolder .playbackRateSelector .btn{
    font-family: 'icomoon';
}
.btnNarrow{
	width: 1.8em;
}
.btn .accessibilityLabel{
	font-size: 0;
	height: 1px !important;
	overflow: hidden;
	display: block;
    position: absolute;
}
.accessibilityLabel{
	font-size: 0;
	height: 1px !important;
	overflow: hidden;
	display: block;
}
.dropup {
	position: relative;
	height: 99%;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}
.mobileSkin .videoHolder .smartContainer{
    width: 100%;
    height: 100%;
    text-align: center;
}
.mobileSkin .videoHolder .btn {
    font-size: 3.6em;
    margin-top: 0em;
}
.mobileSkin .videoHolder .btn.comp {
    position: relative;
}
.mobileSkin .videoHolder .comp {
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.btnLabel{
    font-weight: normal;
    font-size: 0.3em;
   display: none;
}
.mobileSkin .btnLabel{
    font-family: 'Lato', Helvetica, Arial;
    display: block;
}
.largePlayBtn {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 3em;
	margin: -0.79em 0 0 -1em;
	text-decoration: none;
	padding: 12px 20px 12px 25px;
    z-index: 1;
}
.largePlayBtnBorder{
	border-radius: 0.1em;
}

.scrubber {
	position: relative;
	display: block !important;
	height: 0.6em;
	cursor: pointer;
    background-color: #686868;
    background: rgba(104,104,104,0.6);
}
.controlsContainer .scrubber{
	display: inline-block !important;
	margin-left:5px;
	top: -3px;
}
.mobileSkin .controlsContainer .scrubber{
    height: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 2.4px 1.6px rgba(0, 0, 0, 0.12);
    margin-left: 20px;
}
.sliderPreviewTime {
	position: absolute;
	font-family: Helvetica,Arial;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 0 0.3em #000;
}

.sliderPreview {
	position: absolute;
	width: 100px;
	height: 60px;
	z-index: 9999999999;
	border: 2px white solid;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 4px;
}

.scrubber .handle-wrapper {
	position: relative;
	margin: 0 0.44em;
}

.scrubber .watched {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	z-index: 2;
}

.scrubber .buffered {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.scrubber .arrow {
	position: absolute;
	left: 48px;
	bottom: -6px;
	width: 0;
	height: 0;
	border-top: 5px solid white;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.scrubber .playHead {
	z-index: 100;
	position: absolute;
	left: 0;
	top: -3px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	outline: 0;
	margin-left: -0.38em;
	/*border: 8px solid #dadada;*/
	cursor: pointer;

	/*transform*/
	-webkit-transform:scale(1, 1);
	-moz-transform:scale(1, 1);
	-ms-transform:scale(1, 1);
	-o-transform:scale(1, 1);
	transform:scale(1, 1);
	/*transform-origin*/
	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	transform-origin:50% 50%;
	/*transition*/
	-webkit-transition:-webkit-transform-origin 0.1s ease-out, -webkit-transform 0.1s ease-out;
	-moz-transition:   -moz-transform-origin 0.1s ease-out, -moz-transform 0.1s ease-out;
	-o-transition:     -o-transform-origin 0.1s ease-out, -o-transform 0.1s ease-out;
	transition:        transform-origin 0.1s ease-out, transform 0.1s ease-out;
	/*transition-property*/
	-webkit-transition-property:-webkit-transform-origin, -webkit-transform;
	-moz-transition-property:   -moz-transform-origin, -moz-transform;
	-o-transition-property:     -o-transform-origin, -o-transform;
	transition-property:        transform-origin, transform;
	/*transition-duration*/
	-webkit-transition-duration:0.3s, 0.3s;
	-moz-transition-duration:0.3s, 0.3s;
	-o-transition-duration:0.3s, 0.3s;
	transition-duration:0.3s, 0.3s;
	/*transition-timing-function*/
	-webkit-transition-timing-function:ease-out, ease-out;
	-moz-transition-timing-function:ease-out, ease-out;
	-o-transition-timing-function:ease-out, ease-out;
	transition-timing-function:ease-out, ease-out;
	/*transition-delay*/
	-webkit-transition-delay:initial, initial;
	-moz-transition-delay:initial, initial;
	-o-transition-delay:initial, initial;
	transition-delay:initial, initial;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(204,204,204,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(204,204,204,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 50%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 50%,rgba(255,255,255,1) 100%); /* W3C */

}
.mobileSkin .scrubber .playHead {
    border-radius: 14px;
    width: 32px;
    height: 32px;
    margin-top: -8px;
    margin-left: -0.7em;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 31%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 31%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 31%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.mobileSkin .scrubber .playHead.ui-state-active {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,0.3) 31%, rgba(255,255,255,0.3) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,0.3) 31%,rgba(255,255,255,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,0.3) 31%,rgba(255,255,255,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.player-out .hover .playHead {
	display: none;
}
.accessibilityButtons {
	display: inline-block;
	height: 1px;
}
.accessibilityButton {
	width: 1px;
	height: 1px;
}
.nextPrevBtn {
	display: inline-block;
	height: 100%;
}
.mobileSkin .nextPrevBtn {
    width: 100%;
    text-align: left;
}
.mobileSkin .nextPrevBtn>.btn {
    position: relative;
    font-size: 1.6em;
    margin-top: -25px;
    height: 50px;
    top: 50%;
}

.mobileSkin .nextPrevBtn>.btn.icon-prev {
    margin-left: 20%;
}
.mobileSkin .nextPrevBtn>.btn.icon-next {
    float: right;
    margin-right: 20%;
}
.volumeControl {
	display: inline-block;
	height: 100%;
}
.volumeControl.vertical{
	width: 36px;
}
.volumeControl .ui-slider-horizontal.slider {
	display: inline-block;
	width: 0;
	background: #7c7c7c;
	height: 0.5em;
	top: -2px;

	-webkit-transition: width 0.3s ease-in-out;
	-moz-transition: width 0.3s ease-in-out;
	-o-transition: width 0.3s ease-in-out;
	-ms-transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
	cursor: pointer;
}
.volumeControl.noTransition .ui-slider-horizontal.slider{
	-moz-transition: none ;
	-webkit-transition: none ;
	-o-transition: width 0 ease-in;
	transition: none;
}

.volumeControl.open .ui-slider-horizontal.slider {
	width: 5em;
	margin-right: 10px;
}

.volumeControl .ui-slider-horizontal .ui-slider-handle {
	display: none;
}

.volumeControl .ui-slider-horizontal .ui-slider-range-min {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	opacity: 0.85;
	background-color: #fff;
	background-repeat: repeat-x;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#dddddd));

	background: -webkit-linear-gradient(top, #ffffff, #dddddd);
	background: -moz-linear-gradient(top, #ffffff, #dddddd);
	background: -o-linear-gradient(top, #ffffff, #dddddd);
	background: -ms-linear-gradient(top, #ffffff, #dddddd);
	background: linear-gradient(top, #ffffff, #dddddd);

	-webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.volumeControl .ui-slider-horizontal .ui-slider-range-min:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-box-shadow: 0px 0px 10px #fff;
	box-shadow: 0px 0px 10px #fff;
}
.volumeControl .aria{
	width: 0px;
	height: 0px;
}
.volumeControl .sliderContainer {
	margin-top: -147px;
	width: 40px;
	display: none;
	background: rgb(27,27,27);
	background-color: rgba(27,27,27,.9);
	border-radius: 3px;
	height: 97px;
	position: absolute;
}
.volumeControl.noTransition .ui-slider-vertical{
	-moz-transition: none ;
	-webkit-transition: none ;
	-o-transition: width 0 ease-in;
	transition: none;
}

.volumeControl.open .sliderContainer {
	display: block;
	display: block;
}
.volumeControl .ui-slider-vertical{
	height: 69px;
	margin-left: 17px;
	top: 14px;
	width: 6px;
	background-color: #7c7c7c;
}
.volumeControl .sliderContainer .arrow{
	margin-top: 97px;
	margin-left: 11px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 9px 0 9px;
	border-color: rgb(27,27,27) transparent transparent transparent;
	position: absolute;
}
.volumeControl .ui-slider-vertical .ui-slider-handle {
	display: none;
}

.volumeControl .ui-slider-vertical .ui-slider-range-min {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	opacity: 0.85;
	background-color: #fff;
	background-repeat: repeat-x;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#dddddd));

	background: -webkit-linear-gradient(top, #ffffff, #dddddd);
	background: -moz-linear-gradient(top, #ffffff, #dddddd);
	background: -o-linear-gradient(top, #ffffff, #dddddd);
	background: -ms-linear-gradient(top, #ffffff, #dddddd);
	background: linear-gradient(top, #ffffff, #dddddd);

	-webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.volumeControl .ui-slider-vertical .ui-slider-range-min:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-box-shadow: 0px 0px 10px #fff;
	box-shadow: 0px 0px 10px #fff;
}
.smartContainerMenu{
	background-color: rgba(255,255,255,0.9);
	border-radius: 4px;
	position: absolute;
	color: black;
	z-index: 10;

}
.mobile .smartContainerMenu{
	background-color: rgba(0,0,0,0.6);
	border-radius: 0px;
	position: absolute;
	color: #ffffff;
	z-index: 10;
	width: 100%;
	height: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.smartContainerMenu p{
	margin-top: 20px;
	margin-bottom: 20px;
}
.smartContainerMenu .pluginIcon{
	display: none;
}
.mobile .smartContainerMenu .pluginIcon{
	display: block;
	font-size: 64px;
	padding-left: 30px;
	padding-right: 30px;
}
.mobile .smartContainerMenu .pluginPropertyLabel{
	display: none;
}
.mobile .smartContainerMenu .fakeCombo{
	display: none;
}
.mobile .smartContainerMenu .hidden{
	position: absolute;
	visibility: visible;
	width: 130px;
	height: 100px;
	margin-top: -80px;
	opacity: 0;
	-webkit-appearance: menulist-button;
}
.smartContainerMenu label{
	letter-spacing: 0px;
}
.smartContainerMenu .pluginPropertyLabel{
	color: #555555;
	margin-left: 20px;
	margin-right: 10px;
	font-size: 12px;
}
.smartContainerMenu label{
	color: #555555;
	font-size: 12px;
}
.smartContainerMenu .pluginProperty.checkbox{
	width: 14px;
	margin-top: 18px;
	margin-bottom: 18px;
}
.smartContainerMenu .hidden{
	visibility: hidden;
	width: 0px;
	height: 0px;
	position: absolute;
}
.smartContainerMenu .fakeCombo{
	font-size: 9px;
	font-weight: bold;
	letter-spacing: 2px;text-transform: uppercase;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 7px;
	padding-right: 7px;
	color: #999999;
	border: 1px solid #999999;
	border-radius: 3px;
	width: 90px;
	float: right;
	margin-right: 20px;
	margin-top: -2px;
	cursor: pointer;
}
.smartContainerMenu .fakeCombo>i{
	font-size: 8px;
	float: right;
	margin-top: 2px;
}
.smartContainerMenu .fakeCombo>span{
	width: 80px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 2px;
}
.smartContainerMenu ul{
	background-color: white;
	border: 1px solid #999999;
	width: 84px;
	float: right;
	right: 20px;
	border-radius: 3px;
	padding-right: 10px;
	padding-left: 10px;
	position: absolute;
	display: none;
}
.smartContainerMenu li{
	list-style-type: none;
	color: #666666;
	font-size: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #cccccc;
	padding-left: 0px;
	cursor: pointer;
	height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.smartContainerMenu li:hover{
	font-weight: bold;
}
.smartContainerMenu li.last{
	border-bottom: 0px;
}
.smartContainerMenu li.active{
	font-weight: bold;
}
.smartContainerMenu li>i{
	font-size: 9px;
	float: right;
	margin-top: 4px;
	display: none;
}
.smartContainerMenu li.active>i{
	display: block;
}

.timers {
	position: relative;
	font-size: 0.84em;
	display: inline;
	line-height: 2.7em;
	top: -2px;
}

.mobileSkin .timers{
    font-family: 'Lato', Helvetica, Arial;
    font-weight: bold;
    font-size: 1em;
    text-shadow: 0px 0px 2.4px rgba(0, 0, 0, 0.12);
}
.currentTimeLabel {
	padding-left: 1em;
    color: #e8e8e8;
}

.mobileSkin .currentTimeLabel {
	margin-left: 10px;
    color: #ffffff;
}

.durationLabel {
	padding-left: 0.5em;
    color: #b1aeab;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.overlay-win{
	z-index: 1000 !important;
}
.overlay-content{
    width: 80%;
    margin-left: 10%;
    padding-top: 20px;
}
.overlay-content select{
    color: #000000;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.mobileSkin .overlay-content select{
    border: 0;
    color: #fff;
    outline: 1px solid #fff;
    background-color: transparent;
}
.overlay-content textarea{
    border: 0;
    outline: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding-left: 8px;
    padding-top: 5px;
    outline-offset: 0px;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.overlay-content .icon-toggle{
    display: none;
}
.mobileSkin .overlay-content .icon-toggle{
    display: block;
    position: absolute;
    margin-top: 17px;
    right: 10%;
    margin-right: 6px;
}
.mobileSkin .overlay-win, .mobileSkin .overlay-win button, .mobileSkin .overlay-win select, .mobileSkin .overlay-win textarea{
    font-family: 'Lato', Helvetica, Arial !important;
    font-size: 1em;
}

.alert-container {
	z-index: 101;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	vertical-align: middle;
	box-sizing: border-box;
}
.mobileSkin .alert-container{
    font-family: 'Lato', Helvetica, Arial;
    background-color: rgba(255,255,255,0.9);
    width: 60%;
    padding-top: 20px;
    max-height: 40% !important;
    color: #484848;
    letter-spacing: 0;
}
.alert {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.alert-title {
	padding-left: 1.8em;
	padding-bottom: 0.6em;
	text-align: center;
}
.mobileSkin .alert-title {
    font-size: 18px !important;
    font-weight: bold !important;
    background-color: transparent;
    border: 0px solid black;
}
.mobileSkin .alert-message {
    font-size: 18px !important;
    font-weight: bold !important;
}
.mobileSkin .alert-buttons-container {
    padding-bottom: 0px !important;
    padding-top: 20px;
    width: 100%
}
.mobileSkin .alert-button {
    height: 30px;
    font-family: 'Lato', Helvetica, Arial;
    font-size: 14px;
    border: none;
    background: transparent;
    border-top: 1px solid #cacaca;
    border-left: 1px solid #cacaca;
    border-radius: 0px;
    color: #3984EF;
    width: 100%;
}
.alert-body {
	padding: 1.5em 2.2em;
	font-size: 1.5em;
}

.alert-footer {
	text-align: right;
	padding-top: 1.2em;
	padding-right: 2em;
}

.alert-footer .btn {
	min-width: 100px;
	border: 1px solid;
	border-radius: 4px;
	padding: 6px;
}

/* Bootstrap */
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 75px;
	padding: 0 0;
	margin: 2px 0 0;
	list-style: none;

	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

.dropdown-menu .divider {
	*width: 100%;
	height: 1px;
	margin: 0;
	*margin: -5px 0 5px;
	overflow: hidden;
	background-color: rgba(34, 34, 34, 0.5);
	border-bottom: 1px solid rgba(70, 70, 70, 0.5);
}

.dropdown-menu > li > a {
	display: block;
	padding: 3px 10px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	font-size: 0.9em;
	color: #999999;
	white-space: nowrap; /*background-color:  rgba(153, 153, 153, 0.8);
	*/
}

.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus,.dropdown-submenu:hover > a,.dropdown-submenu:focus > a {
	text-decoration: none;
	color: #ffffff;
	background-color: #000;
}

.dropdown-menu > .active > a,.dropdown-menu > .active > a:hover,.dropdown-menu > .active > a:focus {
	color: #ffffff;
	text-decoration: none;
	outline: 0;
}

.dropdown-menu > .disabled > a,.dropdown-menu > .disabled > a:hover,.dropdown-menu > .disabled > a:focus {
	color: #999999;
}

.dropdown-menu > .disabled > a:hover,.dropdown-menu > .disabled > a:focus {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	cursor: default;
}

.open {
	z-index: 1000;
}

.open.dropdown-menu {
	display: block;
}

.pull-right > .dropdown-menu {
	right: -30px;
	left: auto;
}

.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu {
	top: auto;
	bottom: 102%;
    overflow: auto;
    overflow-x: hidden;
    max-height: 300px;
    width: auto !important;
}

.dropup .dropdown-menu a.truncateText { overflow: visible !important; text-overflow: initial;
    padding-right: 20px; }


.closedCaptions > .dropdown-menu {
	overflow-y:auto;
	overflow-x:hidden;
	max-height:200px;
	width:auto;
	max-width:140px;
}

.dropup .dropdown-submenu > .dropdown-menu {
	top: auto;
	bottom: 0;
	margin-top: 0;
	margin-bottom: -2px;
	border-radius: 5px 5px 5px 0;
}

/* Colors */
.PlayerContainer {
	background: #000;
	color: #fff;
}

.controlsContainer {
	height: 2.1em;
	/* margin-top: 1px; */
	background-color: #222222;
	background: rgba(34,34,34,0.8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(34,34,34,0.8)), to(rgba(0, 0, 0, 0.8)));

	background: -webkit-linear-gradient(top, rgba(34,34,34,0.8), rgba(0, 0, 0, 0.8));
	background: -moz-linear-gradient(top, rgba(34,34,34,0.8), rgba(0, 0, 0, 0.8));
	background: -o-linear-gradient(top, rgba(34,34,34,0.8), rgba(0, 0, 0, 0.8));
	background: -ms-linear-gradient(top, rgba(34,34,34,0.8), rgba(0, 0, 0, 0.8));
	background: linear-gradient(top, rgba(34,34,34,0.8), rgba(0, 0, 0, 0.8));
	border-top: 1px solid rgba(170, 168, 168, 0.5);

	-webkit-box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8);
	box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8);
	width:100%;
	display: inline-block;
}
.mobileSkin .controlsContainer{
    position: relative;
    background: transparent;
    border-top: 0px;
    box-shadow: none;
    height: 3.6em;
    padding-right: 1em;
}
.ui-tooltip {
	background-color: #000000;
	background-repeat: repeat-x;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#000000));

	background: -webkit-linear-gradient(top, #000000, #000000);
	background: -moz-linear-gradient(top, #000000, #000000);
	background: -o-linear-gradient(top, #000000, #000000);
	background: -ms-linear-gradient(top, #000000, #000000);
	background: linear-gradient(top, #000000, #000000);

	z-index: 1000;
	font-weight: bold;
	font-size: 0.85em;
	letter-spacing: 0px;
	color: #aaaaaa;
	border-radius: 2px;
	padding: 2px 5px;
}

.ui-tooltip .arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}

.ui-tooltip .arrowTop {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	top: -16px;
	bottom: auto;
}

.ui-tooltip .arrow .top {
	top: -16px;
	bottom: auto;
}

.ui-tooltip .arrow .left {
	left: 20%;
}

.ui-tooltip .arrow:after {
	content: "";
	position: absolute;
	left: 25px;
	top: -20px;
	width: 20px;
	height: 22px;

	-webkit-box-shadow: 6px 5px 9px -9px #fff;
	box-shadow: 6px 5px 9px -9px #fff;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	tranform: rotate(45deg);
	background-color: #000000;
}

.ui-tooltip .arrowTop:after {
	content: "";
	position: absolute;
	left: 25px;
	bottom: -20px;
	top: auto;
	width: 20px;
	height: 22px;

	-webkit-box-shadow: 6px 5px 9px -9px #fff;
	box-shadow: 6px 5px 9px -9px #fff;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	tranform: rotate(45deg);
	background-color: #000000;
}

.ui-tooltip .arrow .top:after {
	bottom: -20px;
	top: auto;
}

.btn {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	background-color: transparent;
	color: #ccc;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	outline-offset: -1px;
}

.btn:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	color: #fff;
	text-shadow: 0px 0px 10px #fff;
}

.btn.active {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	color: #fff;
	text-shadow: 0px 0px 10px #fff;
}

.btn.disabled,.btn.disabled:hover,
.disabled .btn, .disabled .btn:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	cursor: default;
	text-shadow: none;
	color: #fff;
}

.btn:focus {
	outline: none;
}

.playHead.btn:focus {
	outline: none;
}

.mobile .btn:focus {
	outline: none;
}

.largePlayBtn {
	background-color: #222222;
	background: rgba(0,0,0,0.7);
	color: #efefef;
}
.mobileSkin .largePlayBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.6em;
    text-decoration: none;
    width: 1em;
    height: 1.3em;
    border-radius: 2em;
    padding-left: 0.65em;
    padding-top: 0.6em;
    margin-top: -1.1em;
    margin-left: -1.05em;
    background-color: rgba(0,214,255,0.75);
    color: #ffffff;
    box-shadow: 0px 0px 1.2px 0.8px rgba(0, 0, 0, 0.12);
    outline: none;
}

.largePlayBtn:hover {
	background-color: rgba(0,0,0,1);
	color: #fff;
}
.mobileSkin .largePlayBtn:hover {
    background-color: rgba(0,214,255,0.75);
	color: #fff;
}

.scrubber.disabled {
	height: 0.3em;
}

.scrubber.disabled .watched {
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));

	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);

	-webkit-background-size: 10px 10px;
	-moz-background-size: 10px 10px;
	background-size: 10px 10px;
}

.scrubber.disabled .buffered,.scrubber.disabled .playHead {
	display: none;
}

.watched {
	background-color: #2ec7e1;
}
.mobileSkin .watched {
	background-color: #00D6FF;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.buffered {
	background-color: #AFAFAF;
	background: rgba( 102, 102, 102, 0.5 );
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	opacity: 0.4;
	/*background-image:  -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));

background-image:  -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);

background-image:  -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);

background-image:  -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);

background-image:  -ms-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);

background-image:  linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);


	 */
	/*

	-webkit-box-shadow:  0px 1px 0px rgba(0, 0, 0, 0.3);

	box-shadow:  0px 1px 0px rgba(0, 0, 0, 0.3);




		border:  1px solid #fff;
		*/
}

.scrubber .playHead:hover {
	border-color: #fff;

	-webkit-box-shadow: 0 1px 30px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 30px rgba(255, 255, 255, 1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.sourceSelector {
	display: inline-block;
}

.overlay {
    background: rgb(0,0,0);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    filter: alpha(opacity=70);
    background: rgba(0,0,0,0.7);
}

.alert-footer .btn {
	background: #fbfbfb;
	color: #000;
	border-color: #999;
}

.dropdown-menu {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	opacity: 0.85;
	background: #222222;
}

.logo {
	width: 3em;
	height: 100%;
	position: relative;
}
.mobileSkin .controlBarContainer .logo{
    margin-top: -0.1em;
}
.logo img {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	border: 0px;
}

.icon-pause:before{
	margin-left: -4px;
}

.btn.icon-cog{
	color:#fff;
}

.kaltura-logo {
	display: inline-block;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 3em;
	cursor: pointer;
	border: 0;
	background-position: 12px 6px;
	background-repeat: no-repeat;
	background-image: url(../images/kalturaLogo.png);
}
.mobileSkin .kaltura-logo {
    background-position: center top;
    background-size: 1em, 1em;
    margin-top: 0.1em;
}
.playPauseBtn {
	width: 3.3em;
}
.chromecast {
	font-size: 1.4em;
}
/*.playPauseBtn,.fullScreenBtn {
	border-right: 1px solid rgba(0,0,0,0.7);
	-webkit-box-shadow: 1px 0px 0px rgba(170, 168, 168, 0.3);
	box-shadow: 1px 0px 0px rgba(170, 168, 168, 0.3);
}*/

.ad-component {
	position: absolute;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
	font-size: 90%;
}

.ad-notice-label {
	bottom: 14px;
	left: 5px;
	z-index: 102;
}

.ad-skip-btn {
	cursor: pointer;
	font-size: 110%;
}

.ad-skip-label,.ad-skip-btn {
	right: 5px;
	bottom: 5px;
	padding: 10px 20px;
	background: rgba(0,0,0,0.6);
	z-index: 101;
}

.overlayAd {
	width: 100% !important;
	height: 100% !important;
}

.hover .ad-skip-label {
	bottom: 30px;
}
.hover .ad-skip-btn {
	bottom: 30px;
}
.hover .ad-notice-label {
	bottom: 40px;
}

.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.watermark {
	position: absolute;
	padding: 5px;
}
.watermark img{
	border: 0px;
}
.watermark.topRight {
	top: 0; right: 0;
}
.watermark.topLeft {
	top: 0; left: 0;
}
.watermark.bottomRight {
	bottom: 0; right: 0;
}
.watermark.bottomLeft {
	bottom: 0; left: 0;
}
.hide { display: none; }
.screen {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
	box-sizing: border-box;
	padding-top: 2.3em;
	background-color:#000;

	background-image: linear-gradient(top, #000000 10%, #3E3E3E 90%);
	background-image: -o-linear-gradient(top, #000000 10%, #3E3E3E 90%);
	background-image: -moz-linear-gradient(top, #000000 10%, #3E3E3E 90%);
	background-image: -webkit-linear-gradient(top, #000000 10%, #3E3E3E 90%);
	background-image: -ms-linear-gradient(top, #000000 10%, #3E3E3E 90%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #000000), color-stop(0.9, #3E3E3E));
}
.mobileSkin .screen{
    padding-top: 1em;
}
.screen .icon-close{
    position: absolute;
    font-size: 1.2em;
    font-weight: bold;
    right: 2.4em;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 100;
}
.mobileSkin .screen .icon-close{
    width: 4em;
    height: 4em;
    right: 1.2em;
    padding-top: 1.6em;
}
.screen .icon-close:hover{
    text-shadow: 0px 0px 10px #fff;
}
.screen-content {
	box-sizing: border-box;
	padding: 0 10px;
}
.semiTransparentBkg{
    z-index: 10;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNlM2UzZSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(62,62,62,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(62,62,62,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(62,62,62,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(62,62,62,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(62,62,62,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(62,62,62,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#803e3e3e',GradientType=0 ); /* IE6-8 */
}
.screen .panel-left {
	margin-right: 10px;
	position: absolute;
	width: 40%;
	height: 100%;
}
.videoPreview {
	position: relative;
	width: 230px;
	height: 129px;
}
.animateVideo {
	transition: top 1s, left 1s, width 1s, height 1s;
}
.previewPlayer .videoDisplay {
	top: 40px;
	left: 6px;
	z-index: 4;
	width: 40%;
	height: 40%;
	transition: top 1s, left 1s, width 1s, height 1s;
}
.expandPlayerBtn {
	position: absolute;
	z-index: 10;
	font-size: 2em;
	top: 0.3em;
	left: 0.3em;
	opacity: 0.7;
	cursor: pointer;
	border: 1px solid grey;
	border-radius: 25px;
	background-color: grey;
}
.ie8 .expandPlayerBtn{
	border: 0px solid grey;
	background:url(blank.gif);
}
.expandPlayerBtn, .previewPlayer + .size-tiny .expandPlayerBtn {
	display: none;
}
.previewPlayer .expandPlayerBtn {
	display: inline-block;
}

.share .screen-content, .airPlay .screen-content {
	padding: 10px;
	position: relative;
	height: 100%;
}
.screen .panel-right {
	width: 58%; position: absolute; right: 0;
}
.size-tiny .screen .panel-right, .size-tiny .screen .panel-left, .size-tiny .infoScreen .views {
	position: static;
	width: 100%;
	height: auto;
}
.in-progress-state{
	-webkit-animation:spin 3s linear infinite;
	-moz-animation:spin 3s linear infinite;
	animation:spin 3s linear infinite;
	outline: 0 !important;
}

.truncateText {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.adCover{
	position: fixed;
	cursor: pointer;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
}
.adCoverIE8{
	background-color: black;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.AlertMessageTransparent{
	background-color : transparent;
	padding : 5px;
	font-weight : normal !important;
	font-size: 1.5em;
	color: #a4a4a4;
	opacity: 0.5;
	text-align: center;
}

.AlertTitleTransparent{
	background-color : transparent;

	font-weight : normal !important;
	font-size: 1.8em ;
	color: #a4a4a4;
	opacity: 0.5;
	text-align: center;
}

.AlertContainerTransparent{
	background-color : transparent;
	position: absolute;
    width: 80%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform:    translate(-50%, -50%);
	-ms-transform:     translate(-50%, -50%);
	-o-transform:      translate(-50%, -50%);
	transform:         translate(-50%, -50%);
	color: white;
}


.flashBlockAlertContainer{
	background-color : transparent;
	position: fixed;
	top: 40%;
	text-align: center;
	width: 100%;
	color: white;
}

.blur{
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
.vpaidContainer{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2000;
	width: 100%;
	height: 100%;
}
.blackBackground{
	background-color: #000000;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-webkit-keyframes rotating {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotating {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
@keyframes rotating {
    from {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);-moz-transform: rotate(359deg);-ms-transform: rotate(359deg);-o-transform: rotate(359deg);transform: rotate(359deg);}
}
.customSpinner{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: solid 4px rgba(255,255,255,0.7);
    background-color: transparent;
    border-right-color: #00d6ff;
    -webkit-animation: rotating 0.8s linear infinite;
    -moz-animation: rotating 0.8s linear infinite;
    animation: rotating 0.8s linear infinite;
}
.mobileSkin .videoShadow{
    background: rgba(0,0,0,0.25);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 400ms ease-out;
    transition: background 400ms ease-out;
}
.mobileSkin .pluginsScreenOpened .videoShadow{
    background: rgba(0,0,0,0.75);
}
.closePluginsScreen{
    position: absolute;
    cursor : pointer;
    top : 2px;
    right : 2px;
    width: 50px;
    height: 50px;

}
.closePluginsScreen:active{
    outline: 0;
    border: 0;
}
.mobileSkin .btn.closePluginsScreen{
    position: absolute;
    font-size: 1.6em;
    width: 4em !important;
    height: 4em !important;
}
.mobileSkin .overlay .closePluginsScreen{
    font-family: 'icomoon' !important;
    position: absolute;
    margin-top: -1em;
    right: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.reportButton{
    width: 100px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #00d6ff;
    color: white;
    text-align: center;
    padding-top: 8px;
    height: 24px;
    position: absolute;
    margin-top: 6px;
    cursor: pointer;
}
.reportButton.right{
    right: 10%;
    margin-right: -1px;
}
.mobileSkin.player-out .videoShadow{
    opacity: 0;
}
.overlayAdContainer{
    -webkit-transition: top 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out;
    -o-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;
}
/* used to detect when the css file finished loading */
.cssChecker{
    display: none !important;
}

/* animate audio icon */
.in-progress-state-audio{
     -webkit-animation:spinX 3s  infinite;
     -moz-animation:spinX 3s  infinite;
     animation:spinX 3s  infinite;
     outline: 0 !important;
 }

/* horizontal animation for audio icon */
@-moz-keyframes spinX { 100% { -moz-transform: rotateY(360deg); } }
@-webkit-keyframes spinX { 100% { -webkit-transform: rotateY(360deg); } }
@keyframes spinX { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }